@model Clock.Common.Models.Register

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Register</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegistroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
